.table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height +$formula-height;
  user-select: none;

  padding-bottom: 2px;

  overflow-x: auto;

  .row {
    display: flex;
    flex-direction: row;

    height: $row-height;
  }

  .row-info {
    position: relative;

    display: flex;
    justify-content: center;
    align-items:center;

    min-width: $info-cell-width;
    height: 100%;

    border: 1px solid $border-color;
    border-top: none;

    background-color: #f8f9fa;
  }

  .row-data {
    display: flex;
  }

  .column {
    position: relative;

    display: flex;
    justify-content: center;
    align-items:center;

    min-width: 40px;
    width: $cell-width;
    height: 100%;

    background-color: #f8f9fa;

    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
  }

  .cell {
    min-width: 40px;
    width: $cell-width;

    padding: 5px;

    border: 1px solid #e2e2e3;
    border-top: 0;
    border-left: 0;
    outline: none;

    color: #111;
    white-space: nowrap;

    &.selected {
      border: none;
      outline: 2px solid $primary-color;
      z-index: 2;
    }
  }

  .row-resize {
    position: absolute;
    bottom: -2px;
    right: 0;
    left: 0;
    z-index: 1;

    height: 3px;

    opacity: 0;
    background-color: $primary-color;

    &:hover {
      opacity: 1;
      cursor: row-resize;
    }

    &:active {
      opacity: 1;
    }
  }

  .col-resize {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -2px;
    z-index: 1;

    width: 3px;

    opacity: 0;
    background-color: $primary-color;

    &:hover {
      opacity: 1;
      cursor: col-resize;
    }

    &:active {
      opacity: 1;
    }
  }
}
